.button-back {
    background: $dark-blue;
    border: none;
    color: white;
    font-size: $font-size-large;
    font-weight: 300;
    padding: $s-size;
    width: $xxl-size;
    margin-left: auto;
    margin-right: auto;
    margin-top: $l-size;
}
