.response-cell {
    background-color: white;
    width: 100%;
    height: $half-box-width;
    font-size: $s-size;
    color: $black;
    margin: $xl-size;
    padding: $m-size;
    text-align: left;
}